<form action="/goodbye">
  <div>
  <label for="min">Minimum</label>
  <input id="min" type="text" name="zebra">
  </div>

  <div>
  <label for="max">Maximum</label>
  <input id="max" type="text" name="zebra">
  </div>

  <div>
  <button>Pick random number</button>
  </div>
</form>
