
<form action="/square/results">
  <label for="number">Enter a number</label>
  <div>
  <input id="number" type="text" name="number">
  </div>

  <div>
  <button>Calculate Square</button>
  </div>
</form>
